@model BeeManager.Models.Przeglad

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Przeglad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UlId" class="control-label"></label>
                <select asp-for="UlId" class="form-control" asp-items="ViewBag.UlId"></select>
                <span asp-validation-for="UlId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataPrzegladu" class="control-label"></label>
                <input asp-for="DataPrzegladu" class="form-control" type="date" />
                <span asp-validation-for="DataPrzegladu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StanRodziny" class="control-label"></label>
                <select asp-for="StanRodziny" class="form-control"
                        asp-items="Html.GetEnumSelectList<BeeManager.Models.StanRodzinyEnum>()">
                </select>
                <span asp-validation-for="StanRodziny" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ObecnoscMatki" /> @Html.DisplayNameFor(model => model.ObecnoscMatki)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IloscCzerwiu" class="control-label"></label>
                <input asp-for="IloscCzerwiu" class="form-control" />
                <span asp-validation-for="IloscCzerwiu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notatki" class="control-label"></label>
                <input asp-for="Notatki" class="form-control" />
                <span asp-validation-for="Notatki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
